:root {
  --fon-color: #151419;
  --color-accent: #f56e0f;
  --color-addition: #1b1b1e;
  --text-color: #878787;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--fon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#Frame{
    width: 90%;
    height: 90%;
    background-color: var(--text-color);
}
#Header{
    width: 100%;
    height: 15%;
}
#Content{
    width: 90%;
    height: 75%;
}
#Footer{
    width: 50%;
    height: 10%;
}
#Foto{

}