:root {
  --fon-color: #151419;
  --color-accent: #f56e0f;
  --color-addition: #1b1b1e;
  --text-color: #878787;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--fon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#Frame{
    width: 90%;
    height: 90%;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Header{
    width: 97%;
    height: 7%;
}
#Content{
    width: 95%;
    height: 86%;
}
#Footer{
    width: 50%;
    height: 7%;
}
#Foto{

}